* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	text-align:center; /*For IE6 Shenanigans*/
	background-color: #f5f5f5;
}

p {
	font-size: 14px;
	line-height: 1.6em;
}
h1 {
	font-size:26px;
}
h2 {
	font-size:24px;
}
h3 {
	font-size:18px;
}

h1, h2, h3 {
	padding-bottom: 30px;
	font-weight: 100;
}

p, h1, h2, h3 {
	font-family: sans-serif;

}

.content-wrap {
 	width: 980px;
    margin: 0 auto;
}

.header-wrapper{
	height:500px;
}

.header {
	position: relative;
	height:100%;
	/*background: url('https://upload.wikimedia.org/wikipedia/commons/2/2a/Imperial_College_-_South_Kensington_Campus.jpg') no-repeat center center fixed ;*/
	-webkit-background-size: cover !important;
  	-moz-background-size: cover !important; 
  	-o-background-size: cover !important;
  	background-size: cover !important;
  	background-attachment: scroll;
    background-position: center center;
  	color:#ffffff;
}

.header .where{
	position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
	text-align: center;
}
.hidden {
	display: none;
}

.custom-button {
	padding:20px 15px;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff;
	display: inline-block;
	cursor: pointer;
	border: 2px solid #ffffff;
	border-radius: 4px;	
}

.custom-button:hover{
	background-color: rgba(0,0,0,0.7);
}

.custom-button p{
	line-height: 0em;
	font-size: 18px;
}

#location-check p {
	font-size:24px;
}
#actual-info{
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
}
#actual-location h1{
	padding-bottom:18px;
	font-size: 38px;
}

.section-margin{
	margin-bottom: 50px;
}

.top-border{
	border-top: 1px solid #dce0e0;
	padding-top:40px;
	margin-top:40px;
}

.yellow{
	background-color: #FFFACD;
	padding:50px 0;
}

.circle{
	width:33%;
	display: inline-block;
	margin: auto auto;
	vertical-align: top;
}

.circle img{
	border-radius: 50%;
	width: 80%;
	margin-bottom:30px;
}

.footer{
	background-color: #4d4d4d;
	padding:40px;
	margin:0;
}

.footer .content-wrap{
	margin-bottom:0;
}

.footer p,
.footer h3{
	color: #f5f5f5;
}
