* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	text-align:center; /*For IE6 Shenanigans*/
	background-color: #f5f5f5;
}

p {
	font-size: 14px;
	line-height: 1.6em;
}
h1 {
	font-size:26px;
}
h2 {
	font-size:24px;
}
h3 {
	font-size:18px;
}

h1, h2, h3 {
	padding-bottom: 30px;
	font-weight: 100;
}

p, h1, h2, h3, li {
	font-family: sans-serif;
}
::-webkit-input-placeholder {
   color: #4d4d4d;
}
:-moz-placeholder { /* Firefox 18- */
   color: #4d4d4d;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #4d4d4d;  
}
:-ms-input-placeholder {  
   color: #4d4d4d;  
}

a{
	color:#CBF6FF;
	text-decoration: none;
}
a:hover{
	color:#FFFACD;
}

.content-wrap {
 	max-width: 980px;
  /*width: 60%;*/
  margin: 0 auto;
  /*position: relative;*/
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.8);
}

.overlay h1{
	text-align: center;
}

.middle{
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.comming-soon{
	background-color: #FFFACD;
	border-radius: 5px;
	position: absolute;
	width:40%;
	height: 40%;
	left:28%;
	top:28%;
}
.comming-soon h1{
	top:40%;
	position: relative;
}
.header-wrapper{
	height:500px;
}

.header {
	position: relative;
	height:100%;
  background: url('../img/palm.jpg') no-repeat center center fixed ;
  -webkit-transition: background 1.5s linear;
  -moz-transition: background 1.5s linear;
  -o-transition: background 1.5s linear;
  -ms-transition: background 1.5s linear;
  transition: background 1.5s linear;
	-webkit-background-size: cover !important;
  -moz-background-size: cover !important; 
  -o-background-size: cover !important;
  background-size: cover !important;
  background-attachment: scroll !important;
   background-position: center center !important;
  color:#ffffff;
}

.header#palm{
  background: url('../img/palm.jpg') no-repeat center center fixed ;
}
.header#first{
  background: url('../img/first.jpg') no-repeat center center fixed ;
}

.header .where{
	position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
	text-align: center;
}

.header-text{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
}
.header-text h1{
    padding-bottom: 18px;
    font-size: 38px;
}
.hidden {
	display: none;
}

.custom-button {
	padding:20px 15px;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff;
	display: inline-block;
	cursor: pointer;
	border: 2px solid #ffffff;
	border-radius: 4px;	
}

.custom-button:hover{
	background-color: rgba(0,0,0,0.7);
}

.custom-button p{
	line-height: 0em;
	font-size: 18px;
}

#location-check p {
	font-size:24px;
}
#actual-info{
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
}
#actual-location h1{
	padding-bottom:18px;
	font-size: 38px;
}

.section-margin{
	margin-bottom: 50px;
}
.bt-mrg-50{
  margin-bottom: 50px;
}
.top-mrg-50{
  margin-top:50px;
}
.bt-pd-50{
  padding-bottom:50px;
}
.top-pd-50{
  padding-top:50px;
}

.top-border{
	border-top: 1px solid #dce0e0;
	padding-top:20px;
	margin-top:20px;
}

.yellow{
	background-color: #FFFACD;
	padding:50px 0;
	position: relative;
}
.circle-img{
  margin-bottom: 30px;
/*  height: 200px;*/
}
.circle{
	width:30%;
	display: inline-block;
	margin: 1%;
	vertical-align: top;
  height:200px;
}

.circle img{
	border-radius: 50%;
  width: 100%;
	height: 100%;
}

.circle img:hover{
  opacity:0.5;
}

.circle.disable{
  position: relative;
}
.circle.disable img{
  opacity:0.1;
}
.circle.disable h2{
  position: absolute;
  top:42%;
  left:20%;
}

.three-text a{
  color:#000000;
}

.three-text{
  padding:10px 1%;
  border-radius: 5px;
  width:28%;
  display: inline-block;
  vertical-align: top;
  margin:1%;
}
.three-text.click:hover{
  color:#000000;
  background-color:#CBF6FF;
}

.footer{
	background-color: #4d4d4d;
	padding:20px;
	margin:0;
/*  position: absolute;
  bottom: 0;
  width: 100%;*/
}

.footer .content-wrap{
	margin-bottom:0;
  display: block !important;
}

.footer p,
.footer h3,
.footer li{
	color: #f5f5f5;
}

.footer .content-wrap ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0px 20px;
}


/*Landing page*/
img#landing-pg-img{    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
/*#landing-pg-wrapper{
	background: url('https://pixabay.com/static/uploads/photo/2013/11/28/10/36/road-220058_960_720.jpg') no-repeat center center fixed;
	-webkit-background-size: cover !important;
  	-moz-background-size: cover !important; 
  	-o-background-size: cover !important;
  	background-size: cover !important;
  	background-attachment: scroll;
    background-position: center center;
	padding: 60px;
    height: 600px;
    min-width: 100%;
    min-height: 100%;
}*/

.contact-form textarea,
.contact-form input{
	background: rgba(255,255,255,0.6);
    color: #000;
    border: 0;
    font-weight: 300;
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
}
.contact-form button{
	width: 100%;
    color: rgb(240, 240, 240);
    background-color: rgb(0, 0, 0);
    border: 0;
    border-radius: 3px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-size: 1.6rem;
}

.contact #thank-you{
  position: relative;
  width: 100%;
  left:0%;
}

#thank-you{
	border-radius: 4px;
	background-color: #FFFACD;
	position: absolute;
	width:40%;
	height: auto;
	left:28%;
	top:10%;
	padding:20px;
}
#thank-you a{
  color:#4d4d4d;
  padding:2px;
}
#thank-you a:hover{
  background-color: #CBF6FF;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    margin: 10px 0px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.input-error{
	background: rgba(255,0,0, 0.4);
    padding: 5px 15px;
    border-radius: 4px;
    width: 100%;
}
.custom-button .lets-talk{
	font-size:34px;
	line-height: 1em
}

form .custom-button{
  padding:20px 0px;
}

.blue-button{
  padding: 10px 20px;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  border: 2px solid rgba(0,0,0,0.5);
  border-radius: 4px;
  color:rgba(0,0,0,0.5);
}
.blue-button:hover{
    background-color: rgba(0,0,0,0.5);
    border-color: #CBF6FF;
    border: 2px solid #CBF6FF;
    color:#CBF6FF;
}

.circle.who{
  position: relative;
}

.circle.who .image img{
  margin:0px;
  width:200px;
  height: 200px;
}

.circle.who .image .info-wrapper{
  display: none;
  position: absolute;
  top: 0px;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  height: 200px;
  width:200px;
  border-radius:50%;
}

.circle.who .image .info-wrapper .info{
  top: 26%;
  position: relative;
}

.circle.who .image .info-wrapper .info-long{
  top: 16%;
  position: relative;
}

.blog-wrapper{
  text-align: left;
  padding:40px 30px;
}
.blog-wrapper i{
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

img.float-left{
    width: 50%;
    float: left;
    margin-right: 40px;
}

img.float-right{
    width: 50%;
    float: right;
    margin-left: 40px;
}
.img-center{
  text-align: center;
}

.alert{
  padding:30px;
  margin-bottom:30px;
  background-color: #FFFACD;
  border-radius: 5px;
  display: inline-block;
}

.alert a{
  color:#4d4d4d;
  padding:2px;
}

.alert a:hover{
  background-color: #CBF6FF;
}

/*Media quary*/
@media only screen and (max-width: 769px) {
  h1 {
    font-size:24px;
  }
  h2 {
    font-size:20px;

  }
  h3 {
    font-size:16px;
  }
  .content-wrap {
    width:80%;
    display: inline-block;
  }
  .content-wrap.form {
    padding-right: 30px;
    padding-top:30px;
  }
  .contact-form textarea,
  .contact-form input {
    font-size:22px;
  }
  .contact-form p {
    font-size: 20px !important;
  }
  .custom-button .lets-talk{
    font-size:66px !important;
  }
  .form.middle{
    position: relative;
  }
  #thank-you{
    width:80%;
    left:5%;
    margin-bottom: 30px;
  }
  .google-maps {
      position: relative;
      padding-bottom: 75%; // This is the aspect ratio
      height: 0;
      overflow: hidden;
  }
  .google-maps iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
  }
  .circle-img{
    float:left;
    width:48%;
  }
  .circle-img .circle,
  .three-wrapper .three-text{
    width: 100%;
    height: 200px;
    display: block;
    margin:0 0 30px 0;
  }
  .circle-img .circle:last-child,
  .three-wrapper .three-text:last-child{
    margin:0;
  }
  .three-wrapper{
    width: 48%;
    float: right;
  }
  .yellow{
    width: 100%;
    height: 100%;
    padding-bottom: 0;
  }
  img.float-left,
  img.float-right{
    width: 60%;
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }
}